.feature-card {
  background: rgba(255, 255, 255, 0.9) !important;
  backdrop-filter: blur(10px);
  
  .MuiSvgIcon-root {
    transition: transform 0.3s ease-in-out;
  }
  
  &:hover {
    .MuiSvgIcon-root {
      transform: scale(1.1);
    }
  }
}